

.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    gap: 1rem;
    margin: 1rem auto 0;
    box-sizing: border-box;
  }


  .container .contBox{
    border-radius: 10px;
    border: 2px solid #e9e9ec;
    padding: 1rem;
    text-align: center;

  }

  .container .contBox p{
    margin-top: .5rem;
    line-height: 1.4;
  }
  

  @media screen and (max-width: 1024px) {
  .container .contBox p{
    margin-top: 1rem;
  }
  }

  @media screen and (max-width: 768px) {
    .container {
    }
  }

  @media screen and (max-width: 480px) {

  }

  @media screen and (max-width: 360px) {

  }