.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
  }

  .container h3 {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 0 .5rem;
}

  .container div {
        text-align: center;
  }

  .container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }

  .container span {
    font-size: 1rem;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
  }

  .container p {
    font-size: .8rem;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
  }
  
  .container img:hover {
    opacity: .8;
  }

  @media screen and (max-width: 768px) {
    .container {
      width: 90%;
    }
  }