.container {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
  }

  .container h3 {
    font-size: 1.8rem;
    font-weight: 700;
  }

  .container .linkBox {
    margin-top: 1rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    color: #111;
  }
  .container .linkBox a {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 8px 16px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 8px;
    border: none;
    background-color: #627df3;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: all .35s;
  }
  .container .linkBox a:hover {
    background-color: #0024c5;
  }
  .container .linkBox a + a {
    margin-top: 1rem;
  }

 


  @media screen and (max-width: 1024px) {
    .container {
 
    }
  }

  @media screen and (max-width: 768px) {
    .container {

    }
  }

  @media screen and (max-width: 480px) {
    .container {

    }
  }

  @media screen and (max-width: 360px) {
    .container {
 
    }
  }