.nav {
    background-color: #000000;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0px;
    padding: 20px 0px;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
    transition: top 0.3s;
  }

  .arrow {
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: .5rem;
  }
  .bgColorNaverApi {
    background-color: #2db400;
    color: #fff;
  }
  
  .bgColorBlack {
    background-color: #000;
    color: #fff;
  }
  
.show { top: 0px; }
.hide { top: -100px;}

  .nav ul {
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    justify-content: center;
  }
  
  .nav ul li {
    position: relative;
    flex: 1;
    text-align: center;
    list-style: none;
    transform: none;
    transition: all 0.1s ease-in-out;
  }
  
  .nav ul li:hover {
    /* transform: scale(1.05); */
  }

  @media screen and (max-width: 1024px) {
  }

@media screen and (max-width: 380px) {
      .nav ul li {flex: 0 0 25%;}
  }