  /* 텍스트 요소 :폰트컬러 타입 */
  .pc_gray { color:#333 !important; }
  .pc_black { color:#000 !important; }
  .pc_blue { color:#007dda !important; }
  .pc_sky { color:#259bff !important; }
  .pc_red { color:#dd0000 !important; }
  .pc_navy { color:#0b41a0 !important; }
  .pc_org { color:#ff620d !important; }
  .pc_yellow { color:#eb8809 !important; }
  .pc_green {color: #2db400 !important;}
  
.icon {display: inline-block; max-width: 25px; width: 100%; height: auto;}
.mgt10 + .mgt10 {margin-top:1rem;}
.mgt10 {margin-top: 1rem;}
.mgl10 + .mgl10 {margin-left:.5rem;}

.list_st1 {font-size: 1rem; font-weight: 500; list-style-type: disc; padding-left: 1rem;}
.list_st1 li {text-align: left;}

.itembox {
  margin-top: 1rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    color: #111;
    border: 2px solid #111;
}


.button {
  display: inline-block;
  text-align: center;
  max-width: 320px;
    padding: 8px 16px;
    font-size: 16px;
    border-width: 1px;
    border-radius: 8px;
    border: none;
    background-color: #111;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: all .35s;
  }
  /* * + .button {margin-left: .5rem;}
  * + .button2 {margin-left: .5rem;}
  * + .button3 {margin-left: .5rem;} */

  .button:hover {
    background-color: #000000;
  }

  .button2 {
    display: inline-block;
    text-align: center;
    max-width: 320px;
      padding: 8px 16px;
      font-size: 16px;
      border-width: 1px;
      border-radius: 8px;
      border: none;
      background-color: #FF5555;
      font-weight: 500;
      color: #fff;
      cursor: pointer;
      transition: all .35s;
  }
  .button2:hover{
    background-color: #dd0000;
  }
  
  .button3 {
    display: inline-block;
    text-align: center;
    max-width: 320px;
      padding: 8px 16px;
      font-size: 16px;
      border-width: 1px;
      border-radius: 8px;
      border: none;
      background-color: #2db400;
      font-weight: 500;
      color: #fff;
      cursor: pointer;
      transition: all .35s;
  }
  .button3:hover{
    background-color: #2db400;
  }
  

  .inputBox {
    background-color: #2db400;
    border-radius: 10px;
    padding:1rem;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  .inputBox button{
    display: inline-block;
    text-align: center;
    max-width: 320px;
      padding: 8px 16px;
      font-size: 16px;
      border-radius: 8px;
      border: 1px solid #2db400;
      background-color: #fff;
      font-weight: 500;
      color: #2db400;
      cursor: pointer;
      transition: all .35s;
      margin-left: .5rem;
  }
  .inputBox button:hover{
      background-color: #2db400;
      border: 1px solid #fff;
      color: #fff;
  }
  .inputBox input{
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 8px;
    font-weight: 500;
    color: #111;
    border: 1px solid #fff;
    transition: all .35s;
  }
  .inputBox input::placeholder{
    color: #2db400;
  }

  .input {
    padding: 8px 16px;
    font-size: 16px;
    border-width: 1px;
    border-radius: 8px;
    font-weight: 500;
    color: #111;
    border: 1px solid #333;
    transition: all .35s;
  }
 
  /* .input:hover,.input:focus {border:2px solid #2db400 !important;} */
  .select {
    padding: 8px 16px;
    font-size: 16px;
    border-width: 1px;
    border-radius: 8px;
    font-weight: 500;
    color: #111;
    transition: all .35s;
  }

  .translateSelect {
    position: absolute;
  top: 4.5rem;
  right: .5rem;
  display: inline-block;
    padding: 4px 8px;
    font-size: 16px;
    border-width: 1px;
    border-radius: 8px;
    font-weight: 500;
    color: #111;
    transition: all .35s;
  }

  .linkBox {
    margin-top: 1rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    color: #111;
    border: 2px solid #2db400;
  }

.linkBox a {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 8px 16px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 8px;
    border: none;
    background-color: #2db400;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: all .35s;
  }
.linkBox a:hover {
    background-color: #1c7000;
  }
.linkBox a + a {
    margin-top: 1rem;
  }


.tabbox {
  margin-top: 1rem;
  box-sizing: border-box;
}
.tabbox ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.tabbox li {
  flex: 0 0 auto;
  overflow: hidden;
}

.tabbox li button{
  position: relative;
  width: 100%;
  text-align: center;
  border: none;
  padding: .5rem 2rem;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

.tabbox .abs {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-30%, -50%);
}

.loadingBox {
  width: 100%;
}
 
.loadingBox svg {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 20%;
  left: 40%;
  z-index: 10;
  width: 100px;
  height: auto;
  display: inline-block;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}


  @media screen and (max-width: 480px) {
    .inputBox button{
     width: 50%;
      margin-top: 1rem;
    }
    * + .button {margin-left: 0rem;}
  }