.container {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
  }

  .container .kinBox {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    box-sizing: border-box;
    flex: 1 0 45%;
    box-shadow: rgb(163 163 163) 0px 0px 5px;
    border-radius: 10px;
    padding: 1rem;
  }

  .container .kinBox h4{
    font-size: 1.2rem;
    font-weight: 700;
  }
  .container .kinBox .text{
    margin: .5rem 0;
  }
  .container .kinBox p{
    font-size: 1rem;
  }
  .container .kinBox .date{
    text-align: right;
  }
  .container .kinBox .datelinkBox{
    margin-top: auto;
    text-align: right;
  }
  

  @media screen and (max-width: 1024px) {

  }

  @media screen and (max-width: 768px) {

  }

  @media screen and (max-width: 640px) {
    .container .kinBox {flex: 1 0 100%;}
  }


  @media screen and (max-width: 480px) {

    .container .kinBox .datelinkBox{
      text-align: center;
    }
    .container .kinBox .date{
      text-align: center;
    }
  }

  @media screen and (max-width: 360px) {


  }